
export OM_USERNAME=admin
export OM_PASSWORD=tanzu@DellEA
export OM_DECRYPTION_PASSPHRASE=abc123123abc123123abc123123
eval "$(om --env /home/hodeh/concourse-workspace/env.yml bosh-env --ssh-private-key=/tmp/private_key)"
export CONCOURSE_URL=ci.demo.tanzu-platform.me
export ADMIN_USERNAME=admin
export ADMIN_PASSWORD=abc123123
export CONCOURSE_CREDHUB_SECRET="$(credhub get -n /p-bosh/concourse/credhub_admin_secret -q)"
export CONCOURSE_CA_CERT="$(credhub get -n /p-bosh/concourse/atc_tls -k ca)"


