
export OM_USERNAME=admin
export OM_PASSWORD=tanzu@DellEA
export OM_DECRYPTION_PASSPHRASE=abc123123abc123123abc123123
eval "$(om --env /home/hodeh/concourse-workspace/env.yml bosh-env --ssh-private-key=/tmp/private_key)"
export CONCOURSE_URL=ci.demo.tanzu-platform.me
export ADMIN_USERNAME=admin
export ADMIN_PASSWORD=abc123123
export CONCOURSE_CREDHUB_SECRET="$(credhub get -n /p-bosh/concourse/credhub_admin_secret -q)"
export CONCOURSE_CA_CERT="$(credhub get -n /p-bosh/concourse/atc_tls -k ca)"
export CREDHUB_SERVER=https://ci.demo.tanzu-platform.me:8844
export CREDHUB_CLIENT="credhub_admin"
export CREDHUB_CA_CERT="-----BEGIN CERTIFICATE-----
MIIDATCCAemgAwIBAgIUCm8ClvoLUCcl409OQWAaG7Rgh+QwDQYJKoZIhvcNAQEL
BQAwEDEOMAwGA1UEAxMFYXRjQ0EwHhcNMjAwOTAxMTkzMzI1WhcNMjEwOTAxMTkz
MzI1WjAQMQ4wDAYDVQQDEwVhdGNDQTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
AQoCggEBAMzMkOryTiOAk38ymZfcAtMfIh4YAxVA0biaBOm1CufVC61uIZhQkfBT
9oibOzM9VToom9bbKFuUHQULWfJaS/ICkkB7v+jcEGX+DSsJEWhPnIA30dn7akPA
iFJxmdEYuFmySNdwUmhFwUADg+pMoxiIro03v6tD82HbT5fcV0+sTxFYrJZXJ5c4
kUYTzyHM+hxgPZkveMWY+DN8EhaE7vGJOIUdMxHweogDTn4dzQ1UI2vDEFJKqBAw
CARxJOiyjkC3QuMGtz4PZNy96z33crYT9yQ4xLdvYDU49ZatWjHlQwD/jfGBzhBO
B5lcD9UuYgYB9o23UXJb227XRTZl+jUCAwEAAaNTMFEwHQYDVR0OBBYEFO0/oYYR
L6UOUqesT5JOg+It6pfUMB8GA1UdIwQYMBaAFO0/oYYRL6UOUqesT5JOg+It6pfU
MA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAJffWt5C7tvPhaRp
l0ioqKaP4NOJ+WUv7CXFznk5IKm2lcQ9aa9Cyi2jyBSW87HikTLrYrhle6G2vB9g
XkCoSjwmTPLWgFGCM8QJe53NfdrPI5Yz4yUFqhRsR+Ux4sCzpW4as29ZLDitZcBz
4Ob/Cjvb6Bhe66rWXjWJa1QD4s6IYgeCWBmecI0aOH5xxhd3/kozKFhA5AE4xWBA
HwjKazzgL9CQ26oIHmfZysYw9qzL6Ji/AL+Ro7FfdkKLRdanhGS1dnmMd8ZDS38s
YzqgyWg84jML7hPIk02nVrD0mPqD0DipcrIBvtYoLOX/032Ck1RyMzcPm5jQdE+K
xMAYTsI=
-----END CERTIFICATE-----
"

CREDHUB_SECRET=zNHaE4mZPFQZq2fDvDU930pRlSYzsH
